| {% extends "base.html" %}
| {% block title %}Hello,World{% endblock %}
| {% block content %}
h1 スクロールするとコンテンツがフェードインします
| {% if latest_post_list %}
link(rel="stylesheet" type="text/css" href="{% static 'assets/css/app.css' %}")
ul
  | {% for post in latest_post_list %}
  li
    a(href="{% url 'posts:detail' post.id %}") {{ post.title }}
  |     {% endfor %}
| {% else %}
p No posts are available.
| {% endif %}
a(href="{% url 'posts:index' %}") top
| {% endblock %}

