extends /_partials/_layout-page
block append vars
  - metas.pageClass = "lower"
  - pageTitle = 'lower'
block append style
  //- ページ個別にスタイルシートを追加したい場合はここへ記述
block append end_of_body
  //- ページ個別にJsを追加したい場合はここへ記述
block contents-page
  p this is lower
